  header {
  
    padding: 3%;
    text-align: center;
    background: #f84434;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    
  }

  #strInput{
    
    font-family: "Raleway", sans-serif;
    font-size:20px;
    font-weight: 300;
    padding:10px;
    position: relative;
    
    
  }
  #button {
    
    display:inline-block;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size:20px;
    font-weight: 300;
    padding:10px;
    position: relative;
    margin-right: 8px;
  }
  .reverse-button{
    margin-left: 10px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    
  }
  .select{
    position: relative;
    overflow: hidden;
    
  }
  select{
    width: 150px;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-size:20px;
    cursor: pointer;
    padding: 10px;
    height: 46.5px;
    margin-right: 5px;

    
  }
  .select::after{
    content: "\25BC";
    position: absolute;
    background: red;
    top: 0;
    right: 0;
    padding: 7px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
    padding: 12px 12px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    pointer-events: none;
    transition: all 0.1s ease;
  }
  .select:hover::after{
    background: whitesmoke;
    color: red;

  }

  .todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .todo-list{
    min-width: 35%;
    list-style: none;
  }
  .todo{
    margin: 0.5rem;
    background: lightgrey;
    color: black;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
  }

  .todo li{
    font-family: "Raleway", sans-serif;
    flex: 1; 
  }
  .delete-btn{
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  .check-btn{
    background: #35a45c;
    border: 1px solid #35a45c;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }

  
  .delete-btn:hover,
  .delete-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  .check-btn:hover,
  .check-btn:active{
    background-color: initial;
    background-position: 0 0;
    color: #35a45c;
  }
  .delete-btn:active, .check-btn:active {
    opacity: .5;
  }
  
  .todo-item{
    padding: 0rem 0.5rem;
  }
  .fa-trash, .fa-check {
    pointer-events: none;
  }
  .checked{
    text-decoration: line-through;
    opacity: 0.7;
  }
  .container{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
  }